html{
    height:100%;
    min-height: 100%;
    width: 100%;
    min-width: 63.5rem;
    font-size: 30px;    
}
body{
    height: 100%;
    width: 80%;
  
    margin: 0;
    text-align: center;
    background-image: url("../image/bg.jpg");
    background-size:cover;
    
    border: 2px red solid;
}

div{
     border: 0px red solid;
}

#worktime{
    width: 100%;
    height: 100%;
    background-color: rgba(36, 38, 38, 0.38)
}

#wt_head{
    display: inline-block;
    width: 100%;
    height: 15%;
    color: azure;
}
#wt_head h1{
    margin: 1%;
}

#wt_content{
    display:inline-block;
    width: 100%;
    height: 85%;
    color: azure;
    
}

#wt_month{
    height: 10%;
    width: 100%;
    border: 1px red solid;
    padding: 0;
    text-align: center;
    line-height:100%;;
    float: left;
}
#wt_p_month{
    
    display:inline-block;
    font-size: 1rem;
    border-radius:50%;
}
#wt_n_month{
     display:inline-block;
    font-size: 1rem;
    border-radius:50%;
}
#wt_input_month{
    display:inline-block;
    height: 100%;
    line-height: 100%;
    font-size: 1rem;
    padding:0 4% 0 12%; 
    background: none;
    text-align: center;
    border: none;
    color: azure;
    
}::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator {
    background: none; 
    color: #bebbbb;
    font-size: 1rem; 
    margin-left: 1rem;
}::-webkit-calendar-picker-indicator:hover {
    background: none; 
    color: #f8f8f8;
    border: 0px rgba(147, 147, 147, 0) solid;
    font-size: 1rem; 
    margin-left: 1rem;
}::-webkit-clear-button {
display: none; -webkit-appearance: none;
}

#wt_data{
    height: 90%;
    max-height: 87%;
    width: 100%;
    text-align: center;
}

.wt_week{
    width: 100%;
    height: 20%;
    margin: 1.5% 0;
    border-width: 1px 0 1px 0;
    border-color: red;
    border-style: solid;
    font-size:1rem;
}
#wt_data table{
    display: inline-block;
    width: 80%;
}
#wt_data table tr{
    height: 2rem;
}
#wt_data table tr td{
    width: 0.1%;
    border: 1px red double;
    position: relative;
    
}
.date {
height: 3rem;
}

.date >span{
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    
    font-size: 2rem;
    z-index: -1;
    
    background-color: rgb(70, 37, 37);
    color: rgb(68, 165, 60);
    text-align: left;
}


.a{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    
    background-color: #959b9b;
    border-radius: 1rem;
    text-align: left;
    
}
.b{
    display: inline-block;
    float: left;
    height: 100%;
    width: 66%;
    max-width: 66.66%;
    margin-right: -20%;
    border-radius: 1rem;
    background: -webkit-linear-gradient(to top, rgba(255, 0, 0, 0) , rgba(0, 255, 235, 0.79),rgba(0, 128, 0, 0.12));
    background: linear-gradient(to top, rgba(255, 0, 0, 0) , rgba(0, 255, 235, 0.79),rgba(0, 128, 0, 0.12));
    text-align:center;
}
.b span{
    margin-right: 20%;        
}
.c{
    display: inline-block; 
    height: 100%;
    width: 53%;
    max-width: 53.33%;
    border-radius:1rem;
    background: -webkit-linear-gradient(to top, rgba(165, 111, 72, 0.61) , #ffb57f 50%,rgba(206, 137, 86, 0.61));
    background: linear-gradient(to top, rgba(165, 111, 72, 0.61) , #ffb57f 50%,rgba(206, 137, 86, 0.61));
    text-align:center;
    
    
}



