

#worktime{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#wt_head{
    display: inline-block;
    width: 100%;
    height: 14%;
    color: azure;
}
#wt_head h1{
    margin: 1%;
}

#wt_content{
    display:inline-block;
    width: 100%;
    height: 85%;
    color: azure;
    
}

#wt_month{
    height: 10%;
    width: 100%;
    padding: 0;
    text-align: center;
    line-height:100%;;
    float: left;
}
#wt_p_month{
    
    display:inline-block;
    font-size: 1rem;
    border-radius:50%;
}
#wt_n_month{
     display:inline-block;
    font-size: 1rem;
    border-radius:50%;
}
#wt_input_month{
    display:inline-block;
    height: 100%;
    line-height: 100%;
    font-size: 1rem;
    padding:0 4% 0 12%; 
    background: none;
    text-align: center;
    border: none;
    color: azure;
    
}::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator {
    background: none; 
    color: #bebbbb;
    font-size: 1rem; 
    margin-left: 1rem;
}::-webkit-calendar-picker-indicator:hover {
    background: none; 
    color: #f8f8f8;
    border: 0px rgba(147, 147, 147, 0) solid;
    font-size: 1rem; 
    margin-left: 1rem;
}::-webkit-clear-button {
display: none; -webkit-appearance: none;
}

#wt_data{
    height: 90%;
    max-height: 87%;
    width: 100%;
    text-align: center;
}


#wt_data table{
    display: inline-block;
    width: 80%;
}
#wt_data table tr{
    height: 2rem;
}
#wt_data table tr td{
    position: relative;
    width: 0.1%;
    border: 5px rgba(255, 16, 16, 0) solid;
    color: #efeded;
    background-color: rgba(167, 128, 188, 0.49);
    border-radius: 20px;
    
}
.date {
height: 3rem;
}

.date >span{
    display: block;
    height: 35%;
    width: 100%;
    position: absolute;
    top: 0;
    
    font-size: 1rem;    
    background-color: rgba(107, 105, 118, 0.63);
    border-radius: 20px;
    color: rgb(68, 165, 60);
    text-align: center;
}


.a{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65%;
    
    
    background-color: #959b9b;
    border-radius: 1rem;
    text-align: left;
    font-size: 2rem;
    
}
.b{
    display: inline-block;
    float: left;
    height: 100%;
    width: 66%;
    max-width: 66.66%;
    margin-right: -20%;
    border-radius: 1rem;
    background: -webkit-linear-gradient(to top, rgba(255, 0, 0, 0) , rgba(0, 255, 235, 0.79),rgba(0, 128, 0, 0.12));
    background: linear-gradient(to top, rgba(255, 0, 0, 0) , rgba(107, 255, 107, 0.79),rgba(0, 128, 0, 0.12));
    text-align:center;
}
.b span{
    margin-right: 20%; 
    color: #ffd1d1;
}
.c{
    display: inline-block; 
    height: 100%;
    width: 53%;
    max-width: 53.33%;
    border-radius:1rem;
    background: -webkit-linear-gradient(to top, rgba(165, 111, 72, 0.61) , #ffb57f 50%,rgba(206, 137, 86, 0.61));
    background: linear-gradient(to top, rgba(165, 111, 72, 0.61) , #ffb57f 50%,rgba(206, 137, 86, 0.61));
    text-align:center;
    
    
}



