

#worktime{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#wt_head{
    display: inline-block;
    width: 100%;
    height: 14%;
    color: azure;
}
#wt_head h1{
    margin: 1%;
}

#wt_content{
    display:inline-block;
    width: 100%;
    height: 85%;
    color: azure;
    
}

#wt_month{
    height: 10%;
    width: 100%;
    padding: 0;
    text-align: center;
    line-height:100%;;
    float: left;
}
#wt_p_month{
    
    display:inline-block;
    font-size: 1rem;
    border-radius:50%;
}
#wt_n_month{
     display:inline-block;
    font-size: 1rem;
    border-radius:50%;
}
#wt_input_month{
    display:inline-block;
    height: 100%;
    line-height: 100%;
    font-size: 1rem;
    padding:0 4% 0 12%; 
    background: none;
    text-align: center;
    border: none;
    color: azure;
    
}::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator {
    background: none; 
    color: #bebbbb;
    font-size: 1rem; 
    margin-left: 1rem;
}::-webkit-calendar-picker-indicator:hover {
    background: none; 
    color: #f8f8f8;
    border: 0px rgba(147, 147, 147, 0) solid;
    font-size: 1rem; 
    margin-left: 1rem;
}::-webkit-clear-button {
display: none; -webkit-appearance: none;
}

#wt_data{
    height: 90%;
    max-height: 87%;
    width: 100%;
    text-align: center;
}


#wt_data table{
    display: inline-block;
    width: 80%;
}
#wt_data table tr{
    height: 2rem;
}
#wt_data table tr td{
    position: relative;
    width: 0.1%;
    border: 10px rgba(255, 16, 16, 0) solid;
    color: #efeded;
    
    
}
.date {
height: 3rem;
}


.d > span{
    display: inline-block;
    height: 35%;
    width: 100%;
    background-color: rgb(79, 81, 92) !important;
    border-radius: 50%;
    font-size: 1rem; 
    text-align: center;
}


.a{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 3.5rem;
    height: calc(7/12*75%);
    max-height: 75%;
    
    z-index: -1;
    
    background: -webkit-linear-gradient(to top, rgba(255, 0, 0, 0) , rgba(0, 255, 235, 0.79),rgba(0, 128, 0, 0.12));
    background: linear-gradient(to top, rgba(56, 12, 100, 0.1) 48%, rgba(138, 17, 160, 0.1) );
    
}
.b{
    
    display: inline-block;
    height: 65%;
    font-size: 1.5rem;
    text-align:center;
}

.c{
    display: inline-block; 
    height:65%;
    font-size: 1.5rem;
    text-align:center;
    
    
}
.c span{
    color: rgba(232, 37, 37, 0.39);
    text-shadow: 0.1px 0.1px 2px rgba(245, 247, 247, 0.52);
}

.d{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 3rem;
    box-shadow: 1px 1px 20px 2px #d1cdcd;
    border-radius: 50% ;
    overflow: hidden;
    background-color: rgba(182, 140, 208, 0.26);
    z-index: 0;
}

