html{
    height:100%;
    min-height: 100%;
    width: 100%;
    min-width: 63.5rem;
    font-size: 30px;    
}
body{
    height: 100%;
    width: 100%;
    min-height: 100%;
    margin: 0;
    text-align: center;
    background-image: url("../image/bg.jpg");
    background-size:cover;
}

#head{
    position:absolute;
    height: 4rem;
    width: 100%;
}
#title{
    
}
#main_menu{
    position: absolute;
    top: -3rem;
    left: calc((100% - 90%)/2);
    display: inline-block;
    height: 3rem;
    width: 90%;
    box-shadow: 2px 2px 10px 2px rgba(195, 195, 195, 0.63);
    border-radius: 0 0 1rem 1rem;
    transform-origin:top;
    transform:rotateX(0deg);
    background-color: rgba(151, 195, 203, 0.93);
    
}
#main_menu ul{
    height: 50%;
    margin:;
}
#main_menu ul li{
    position: relative;
    height: 100%;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
}


#content{
    height:100%;
    width:100%;
    min-height: 30.8rem;
    min-width: 34rem;
    max-width: 60rem;
    
    margin-top: 4rem;
    display: inline-block;  
    
}


#footer{
    min-height: 4rem;
    height: 9%;
    width: 100%;
    padding-top: 1.3rem;
    background: linear-gradient(to top,rgba(0, 0, 0, 0.7),rgba(221, 185, 185, 0));
   
   color: white;
}

.content_main_bg {
    background-color: rgba(46, 49, 51, 0.76);
    box-shadow: 0.2rem -0.52rem 0.5rem 0.25rem rgba(205, 213, 217, 0.22);
}



.content_main_layout {
    height: 100%;
    width: 100%;
    min-height: 25rem;
    
    border-radius: 0.5rem;
}
h1{
    margin: 0;
}
.content_head_layout {
    min-height: 10%;
    padding-top: 0.9rem;
    
}

.content_body_layout {
    height: auto;
    min-height: 50%;
    
    width: 100%;
    text-align: center;
    
}

.content_footer_layout {
    height: 14.9%;
    min-height: 3.9485rem;
}

#content_body ul{
    height: 100%;
    width:auto;
    text-align: center;
}
#content_body ul li{
    height: 9rem;
    width: 8.5rem;
    display: inline-block;
    margin: 1%;
    transition: all 1s;
}

.option{
    position: relative;
    display:inline-block;
    height: 100%;
    width: 100%;
    border-radius: 5%;
    
    background-color: rgba(240, 248, 255, 0.33);
    box-shadow:0.05rem 0.05rem 0.7rem 0.2rem #777f83;
    position: relative;
    transition: color 0.3s;
}
.option::before{
    content: "";
    position: absolute;
    top: 6.5rem;
    left: 20%;
}


.option_bg:hover{
    color: rgba(255, 255, 255, 0.58);
    box-shadow: 0.2rem 0.2rem 0.5rem 0.25rem #777f83;
}
#option4::after{
    content: "\f013";
    position: absolute;
    top: 3rem;
    left: calc(50% - 0rem);
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 3rem;
    color: #e0e0e0;
    transform: rotate(0deg);
    text-shadow: 1px 1px 10px #000000;
    opacity: 0;
    transition: transform 0.5s;
}
#option4:hover::after{
    opacity: 1;
    
    transform: rotate(160deg);
    transition-delay: 0.2s;
}
#option5::after,#option8::after{
    content: "\f040";
    position: absolute;
    top: 2.5rem;
    left: calc(50% - 0rem);
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 3rem;
    color: #000000;
    opacity: 0;
    
}
#option5:hover::after,#option8:hover::after{
    
    opacity: 1;
}



.camera{
    perspective-origin:center center ;
    -moz-perspective-origin:center center;
    -webkit-perspective-origin:center;
    overflow: hidden;
    
  }

 .space{
      position:relative;
      width:100%;
      height:100%;
     
      transform-style:preserve-3d;
      -moz-transform-style:preserve-3d;
      -webkit-transform-style:preserve-3d;
     -webkit-transform-origin:center  center -351.96rem;
     text-align: center;
    
     
  }

.box{
    height: 100%;
    width: 100%;
    min-height: 30.8rem ;
    min-width: 34rem;
    max-width: 60rem;
    
    position: absolute;
    border-radius: 0.5rem;
    
    
}
.box1{
    height: 100%;
    width: 100%;
    -webkit-transform:translateZ(-300rem);

}

.box2{
    background-color: rgba(250, 235, 215, 0.74);
    
   -webkit-transform:translateZ(-300rem)  translate3d(45rem,0,-25.98rem) rotateY(60deg);
    font-size: 1rem;
}
.box3{
    font-size: 1rem;
    background-color: rgba(64, 59, 59, 0.7);
   
    
    -webkit-transform:translateZ(-300rem)
       translate3d(45rem,0,-77.94rem) rotateY(120deg);;
}
.box4{
    font-size: 1rem;
    background-color: rgba(71, 75, 71, 0.73);
    
  -webkit-transform:translateZ(-300rem)  translate3d(0,0,-103.92rem) rotateY(180deg);
}
.box5{
    font-size: 1rem;
    background-color: rgba(62, 60, 60, 0.71);
    
  -webkit-transform:translateZ(-300rem)  translate3d(-45rem,0,-77.94rem) rotateY(-120deg);
}
.box6{
    font-size: 1rem;
    background-color: rgba(62, 60, 60, 0.51);
   
  -webkit-transform:translateZ(-300rem) translate3d(-45rem,0,-25.98rem) rotateY(-60deg);
}





#label_cancel_personInfo{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
    text-align: center;
}


#info{
    display: inline-block;
    width: auto;
    max-width:100%; 
    min-width: 50%;
    height: 70%;
    
    
    border-radius: 2%;
    text-align: center;
    overflow-x: hidden;
    overflow-y:auto;
    margin-top:5%;
}
#personInfo{
    display: inline-block;
    width: 90%; 
    height: auto;
    
    margin: 0 5%;
    box-shadow:10px 10px 40px rgba(74%, 74%, 79%, 0.5);
    overflow: hidden;
    border-radius: 2%;
    border: 3px rgba(152, 152, 152, 0.47) solid;
    
}



#main_menu ul li:hover::after { 
	content: "\5D";
	display: block;
	position: absolute;
	top: 3px;
	right: 0;
    opacity: 1;
    -webkit-transition:all 0.5s ease-in;;
 }
#main_menu ul li:hover::before{
    content: "\5B";
	display: block;
	position: absolute;
	top: 3px;
	left:0;
}
i{
    margin: 0.5rem 0;
    font-size: 6rem !important;
}



