html{
    height:100%;
    min-height: 100%;
    width: 100%;
    min-width: 63.5rem;
    font-size: 30px;    
}
body{
    height: 100%;
    width: 100%;
    min-height: 100%;
    margin: 0;
    text-align: center;
    background-image: url("../image/bg.jpg");
    background-size:cover;
}

#head {
    height: 5%;
    width: 100%;
    
}

#content{
    height:100%;
    width:100%;
    min-height: 30.8rem;
    min-width: 34rem;
    max-width: 60rem;
    
    margin-top: 2%;
    display: inline-block;
    
    
    
}
#box1 *{
    color: rgba(191, 194, 229, 0.79);
}

#footer{
    min-height: 4rem;
    height: 9%;
    width: 100%;
    padding-top: 1.3rem;
    background: linear-gradient(to top,rgba(0, 0, 0, 0.7),rgba(221, 185, 185, 0));
   
   color: white;
}

.content_main_bg {
    background-color: rgba(46, 49, 51, 0.76);
    box-shadow: 0.2rem -0.52rem 0.5rem 0.25rem rgba(205, 213, 217, 0.22);
}



.content_main_layout {
    height: 100%;
    width: 100%;
    min-height: 25rem;
    
    border-radius: 0.5rem;
}
h1{
    margin: 0;
}
.content_head_layout {
    min-height: 10%;
    padding-top: 0.9rem;
    
}

.content_body_layout {
    height: auto;
    min-height: 50%;
    
    width: 100%;
    text-align: center;
    
}

.content_footer_layout {
    height: 14.9%;
    min-height: 3.9485rem;
}

#content_body ul{
    height: 100%;
    width:auto;
    text-align: center;
}
#content_body ul li{
    height: 9rem;
    width: 8.5rem;
    display: inline-block;
    margin: 1%;
}
#content_body ul li:hover{
    height: 9.45rem;
    width: 8.925rem;
}

.option{
    
    height: 100%;
    width: 100%;
    border-radius: 5%;
    display:inline-block;
    position: relative;
}


.option_bg {
    background-color: rgba(240, 248, 255, 0.33);
    box-shadow: 0.2rem 0.2rem 0.5rem 0.25rem #777f83;
}
.option_bg:hover{
    box-shadow:0.05rem 0.05rem 0.7rem 0.2rem #777f83;
}



.camera{
    perspective-origin:center center ;
    -moz-perspective-origin:center center;
    -webkit-perspective-origin:center;
    overflow: hidden;
    
  }

 .space{
      position:relative;
      width:100%;
      height:100%;
     
      transform-style:preserve-3d;
      -moz-transform-style:preserve-3d;
      -webkit-transform-style:preserve-3d;
     -webkit-transform-origin:center  center -351.96rem;
     text-align: center;
    
     
  }

.box{
    height: 100%;
    width: 100%;
    min-height: 30.8rem ;
    min-width: 34rem;
    max-width: 60rem;
    
    position: absolute;
    border-radius: 0.5rem;
    
    
}
.box1{
    height: 100%;
    width: 100%;
    -webkit-transform:translateZ(-300rem);

}

.box2{
    background-color: rgba(250, 235, 215, 0.74);
    
   -webkit-transform:translateZ(-300rem)  translate3d(45rem,0,-25.98rem) rotateY(60deg);
    font-size: 1rem;
}
.box3{
    font-size: 1rem;
    background-color: rgba(208, 150, 74,0.7);
   
    
    -webkit-transform:translateZ(-300rem)
       translate3d(45rem,0,-77.94rem) rotateY(120deg);;
}
.box4{
    font-size: 1rem;
    background-color: rgba(71, 75, 71, 0.73);
    
  -webkit-transform:translateZ(-300rem)  translate3d(0,0,-103.92rem) rotateY(180deg);
}
.box5{
    font-size: 1rem;
    background-color: rgba(208, 141, 74, 0.71);
    
  -webkit-transform:translateZ(-300rem)  translate3d(-45rem,0,-77.94rem) rotateY(-120deg);
}
.box6{
    font-size: 1rem;
    background-color: rgba(74, 208, 208, 0.72);
   
  -webkit-transform:translateZ(-300rem) translate3d(-45rem,0,-25.98rem) rotateY(-60deg);
}



.turn_btn {
    position: fixed;
    height: 5%;
    width: 5%;
    max-height: 3rem;
    max-width: 3rem;
    min-height: 2rem;
    min-width: 2rem;
    z-index:1;
    padding: 0.4rem;
    display: inline-block;
    top: 1rem;
    border-radius: 50%;
    background: rgba(167, 147, 104, 0.37);
}

#label_cancel_personInfo{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
    text-align: center;
}


#info{
    display: inline-block;
    width: auto;
    max-width:100%; 
    min-width: 50%;
    height: 70%;
    
    
    border-radius: 2%;
    text-align: center;
    overflow-x: hidden;
    overflow-y:auto;
    margin-top:5%;
}
#personInfo{
    display: inline-block;
    width: 90%; 
    height: auto;
    
    margin: 0 5%;
    box-shadow:10px 10px 40px rgba(74%, 74%, 79%, 0.5);
    overflow: hidden;
    border-radius: 2%;
    border: 3px rgba(152, 152, 152, 0.47) solid;
    
}

